.sugarForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100vh;
    text-align: center;

        span {
            bottom: 50%;
        }

        img {
            &:hover{
                opacity: 0.3;
            }
        }
}

@media (max-width: 1050px) {
    .sugarForm {
        grid-template-rows: 70vh;
}
}

@media (max-width: 600px) {
    .sugarForm {
        grid-template-rows: 50vh;
}
}

@media (max-width: 450px) {
    .sugarForm {
        grid-template-rows: 40vh;
}
}