.price {
    // background-image: url('../assets/moneys.jpg');
    // background-position: center;
    // background-size: cover;
    height: 100vh;
}

.priceForm {
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.priceForm img {
    // opacity: 0.8;

    &:hover {
            opacity: 0.2;
        }
}

.priceForm .overlay {
    background-color: $backgroundTwo;
}

.priceForm span {
    position: relative;
    bottom: 50%;
}

