
.priceForm {
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: space-between;

        span {
            bottom: 50%;
        }
}


@media (max-width: 1050px) {
    .priceForm {
        height: 70vh;
}
}

@media (max-width: 600px) {
    .priceForm {
        height: 50vh;
}
}