button, input[type=submit], .swal-button, .swal-button:focus {
    font-family: $paragraphFont;
    text-transform: uppercase;
    color: $backgroundOne;
    border: 3px solid $backgroundOne;
    background-color: $buttonColor;
}

button {
    padding: 20px 40px;
    @include font(1.2rem, 25px, 2px);
}

input[type=submit] {
    padding: 30px 20%;
    @include font(2rem, 5px, 5px);
}

button:hover, input[type=submit]:hover, .swal-button:not([disabled]):hover {
    color: $buttonColor;
    border: 3px solid $buttonColor;
    background-color: $backgroundOne;
}

button:focus, input[type=submit]:focus {
    outline: 0;
    color: $buttonColor;
    border: 3px solid $buttonColor;
    background-color: $backgroundOne;
}
.tryAgain {

    background-color: $backgroundThree;
    padding-top: 5vh;

    .buttonFlex {
            display: flex;
            width: 100%;
            justify-content: center;

            button {
                margin-bottom: 5vh;
            }
        }
}

@media (max-width: 450px) {
    button {
        padding: 10px 20px;
    }
}

