p {
    font-family: $paragraphFont;
    @include font(1.5rem, 25px, 2px);
}

span {
    font-family: $paragraphFont;
    color: white;
    // color: $backgroundOne;
    @include font(4rem, 4rem, 2px);
    text-transform: uppercase;
    // font-weight: bold;
    // text-shadow: 4px 4px black;
    background-color: $backgroundTwo;
    padding: 15px 10px 0px 10px;
    // border: 2px solid black;
    display: block;
    width: 70%;

        &:hover {
            color: black;
        }
}

h2 {
    font-family: $headingFont;
    @include font(3rem, 3rem, 2px);
}

