p {
    font-family: $paragraphFont;
    @include font(1.5rem, 25px, 2px);
}

span {
    font-family: $paragraphFont;
    @include font(4rem, 4rem, 2px);
    text-transform: uppercase;
    font-weight: bold;
}

h2 {
    font-family: $headingFont;
    @include font(3rem, 3rem, 2px);
}

