// input[type=radio] {
//     height: 0;
//     width: 0;
//     opacity: 0;
//     background-color: black;
// }

input[type=radio]:checked + label span, input[type=radio]:focus + label span, input[type=radio]:active + label span {
    color: white;
}


input[type=radio]:checked + label img, input[type=radio]:focus + label img, input[type=radio]:active + label img {
    opacity: 0.3;
}

form img {

    &:hover {
            opacity: 0.3;
        }
    &:hover + span {
            color: white;
    }
}

form span {
    position: relative;
}
