// app colors

$headerTitleColor: #E8E8E8;
$backgroundThree: #F6CACA;   
$backgroundOne: #121217;
$buttonColor: #9A313B;
$backgroundTwo: #A29C9B;

// app fonts
$headerTitleFont: 'Permanent Marker', cursive;
$headingFont: 'Taviraj', serif;
$paragraphFont: 'Josefin Sans', sans-serif;

// mixin to set font, font size, line height, and letter spacing

@mixin font($size, $lh, $ls) {
    font-size: $size;
    line-height: $lh;
    letter-spacing: $ls;
}