
.wineColorForm {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100vh;
    text-align: center;
}

.wineColorForm span {
    bottom: 40%;
}

@media (max-width: 1050px) {
    .wineColorForm {
        grid-template-rows: 70vh;
}
}

@media (max-width: 600px) {
    .wineColorForm {
        grid-template-rows: 50vh;
}
}

